*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
 
    
    
}

.calculator{
    width: 498px;
    height: 500px;
    
   
}

.screen{
    display: flex; 
    flex-wrap: wrap;
    background-color: black;
    height: 100px;
    align-items: center;
    text-align: unset;
    padding: 20px;
    color: white;
   font-size: 25px;
   font-weight: 400;
    justify-content: flex-end;
    border-radius: 16px  16px 0 0;

     
}




.digits{
    
    display: flex;
    flex-wrap: wrap;
     height: 300px;
     width: 100%;
     
}

.digits > button{
   width: 166px;
   cursor: pointer;
   font-size: 25px;
   background-color: #6A53EC;
   border: none;
   color: white;

}
.digits > button:hover{
    opacity: 0.8;
    transform: scale(1.01);
    background-color: black;
     
 }

.operators{
    display: flex;
    height: 100px;
    width: 100%;
}

.operators > button{
    width: 20%;
    cursor: pointer;
    font-size: 22px;
    background-color: #6200EC;
    border: none;
    color: white;
 
    
}

.operators > button:hover{
   opacity: 0.8;
   transform: scale(1.01);
   background-color: black;
    
}